#clean-mode {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 20px;
  height: 700px;
  min-height: 700px;
  max-height: 700px;
  .meta {

  }

  .content {
    max-height: 600px;
    height: 600px;
    overflow-y: scroll;
  }

  .toolbar {
    height: 30px;
  }
}